@import 'colors.css';
@import 'flex.css';
@import 'fonts.css';
@import 'height.css';
@import 'width.css';
@import 'reset.css';
@import "margin.css";
@import "cards.css";

.main-ctn {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

@media (max-width: 1280px) {
    .main-ctn {
        padding: 1rem;
    }
}
